.card{
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
   
}
.containerImg{
    background-color: grey;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    
}